@model IEnumerable<CathRepoCommon.Models.Mix>

<br />
<p>
    @Html.ActionLink("Create New", "Create")
    <h3><font color="green">@TempData["Created"]</font></h3>
    <h3><font color="red">@TempData["Deleted"]</font></h3>
    <h3><font color="orange">@TempData["Edited"]</font></h3>
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MixName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CFx)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SVO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Carbon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Binder)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ratio)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MixName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CFx)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SVO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Carbon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Binder)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ratio)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.Id }) |*@
            <a href="javascript:void(0);" class="anchorDetail" data-id="@item.Id">Details |</a>  
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}
</table>
<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div> 

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script> 
<script src="~/Scripts/Mix.js"></script>
