@model IEnumerable<CathRepoCommon.Models.Mix>

<br />
@*<p>
    
    <h3><font color="green">@TempData["Created"]</font></h3>
    <h3><font color="red">@TempData["Deleted"]</font></h3>
    <h3><font color="orange">@TempData["Edited"]</font></h3>
</p>*@

@if (TempData["Message"] != null && TempData["Message"].ToString().Contains("Error"))
{
    <p class="alert alert-danger alert-dismissable" id="Message">
        <strong>@TempData["Message"]</strong>
        <a href = "#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    </p>
}
@if(TempData["Message"] != null && !TempData["Message"].ToString().Contains("Error"))
{
    <p class="alert alert-success alert-dismissable" id="Message">
        <strong>@TempData["Message"]</strong>
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>    
    </p>
}

@*@Html.ActionLink("Search Form","Search")*@

@Html.ActionLink("Create New", "Create")
<table class="table">
    <tr>
        <th>Mix Name</th>
        <th>Active %</th>
        <th>@Html.DisplayNameFor(model => model.Ratio)</th>
        <th>@Html.DisplayNameFor(model => model.mAh)</th>
        <th>@Html.DisplayNameFor(model => model.CFx)</th>
        <th>@Html.DisplayNameFor(model => model.SVO)</th>
        <th>@Html.DisplayNameFor(model => model.Carbon)</th>
        <th>@Html.DisplayNameFor(model => model.Binder)</th>
        <th>@Html.DisplayNameFor(model => model.Pellets)</th>        

       
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>@Html.DisplayFor(modelItem => item.MixName)</td>
        <td>@Html.DisplayFor(modelItem => item.ActiveMaterial)</td>
        <td>@Html.DisplayFor(modelItem => item.Ratio)</td>
        <td>@Html.DisplayFor(modelItem => item.mAh)</td>
        <td>@Html.DisplayFor(modelItem => item.CFx)</td>
        <td>@Html.DisplayFor(modelItem => item.SVO)</td>
        <td>@Html.DisplayFor(modelItem => item.Carbon)</td>
        <td>@Html.DisplayFor(modelItem => item.Binder)</td>
        <td>@Html.DisplayFor(modelItem => item.Pellets.Count)</td>


        <td>
            <a href="javascript:void(0);" class="anchorDetail" data-id="@item.Id">Pellets</a> |
            @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
            @Html.ActionLink("Details", "MixWithPellets", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            

        </td>
    </tr>
}

</table>
<div id='myModal' class='modal'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/Mix.js"></script>
<script type="text/javascript">
    $(document).ready(function ()    {
        $(".alert-success").delay(3000).fadeOut(400);
    });
</script>
