@using System.Web.Mvc.Html
@using CathRepoCommon.Models
@model Mix

<div>
    <h3>Cathode Mix Recipes</h3>

    <table class="table">
        <tr>
            <th class="col1">Cathode Mix Name</th>
            <th class="col2">Active %</th>
            <th class="col2">Ratio</th>
            <th class="col2">mAh</th>
            <th class="col2">CFx %</th>
            <th class="col2">SVO %</th>
            <th class="col2">Carbon %</th>
            <th class="col2">Binder %</th>


        </tr>
        <tr>
            <td>@Html.DisplayFor(model => model.MixName)</td>
            <td>@Html.DisplayFor(model => model.ActiveMaterial)</td>
            <td>@Html.DisplayFor(model => model.Ratio)</td>
            <td>@Html.DisplayFor(model => model.mAh)</td>
            <td>@Html.DisplayFor(model => model.CFx)</td>
            <td>@Html.DisplayFor(model => model.SVO)</td>
            <td>@Html.DisplayFor(model => model.Carbon)</td>
            <td>@Html.DisplayFor(model => model.Binder)</td>


        </tr>
    </table>
</div>
<div>
    <h3>Pellet Data Averages</h3>
    <table class="table">
        <tr>
            <th class="col3">Mass(g) Average</th>
            <th class="col3">Diameter(mm) Average</th>
            <th class="col3">Thickness(mm) Average</th>
            <th class="col3">Resistance(ohms) Average</th>
        </tr>


        <tr>
            <td>Place Holder</td>
            <td>Place Holder</td>
            <td>Place Holder</td>
            <td>Place Holder</td>
        </tr>

    </table>
</div>


<div>
    @{
        ViewBag.Title = "PelletData";
        //var pellet = new Pellet(1, 2, 3, 4);
    }
    <h3>Pellet Data</h3>
    @Html.Partial("_Pellets", Model.Pellets)


</div>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
<script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/~/bundles/jquery")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/~/bundles/jqueryval")" type="text/javascript"></script>

<style>
    .col1 {
        width: 30%;
    }
    .col2 {
        width: 10%;
    }
    .col3 {
        width: 25%;
    }
</style>